.logoutButton {
    background-color: #8a8a89;
    border: none;
    width: 0.9em;
    height: 1em;
    border-radius: 50%;
    padding: 0.5em 0.2em 0.5em 0.1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 0.1em;
}
  
.logoutButton:hover {
    background-color: #f44336; 
}
  
.logoutButton:active {
    background-color: #b71c1c;
}
  
.logoutButton svg {
    color: white;
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}
  
.logoutButton:hover svg {
    transform: scale(1.1);
}
  
.logoutButton:focus {
    outline: none;
}
  