/*.mainContainer {
    border: 2px solid black;
    height: 92vh;
    width: 85vw;
    position: absolute;
    top: 8vh;
    left: 15vw;
}*/

/*.dashboardGrid {
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas:
      "side header"
      "side main";
    height: 100vh;
}
  
.mainContainer {
    grid-area: main;
    padding: 2rem;
    overflow-y: auto;
}
  
@media (max-width: 768px) {
    .dashboardGrid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
        "header"
        "side"
        "main";
    }
}*/

.dashboardGrid {
    display: grid;
    grid-template-rows: 6vh 1fr;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgba(234, 247, 248, 0.588);
}

.mainContainer {
    grid-row-start: 2;
    padding: 2rem;
    overflow-y: auto;
}